html{
    background: url("sincerely-media-BSp_5MPqBYs-unsplash.jpg");
    background-size: cover;
    height: 500px;
    background-origin: border-box;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    top: 30%;
    left: 5%;
    width: 100%;
}

h1 {
    color: black;
    font-size: 60px;
    opacity: 100%;
}